<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<h4 class="">About Common Wealth Enterprises</h4>
				<p style="font-size:12px;">Common Wealth Enterprises is shaping a new consumer culture that combines social and economic value creation. We build, collaborate with, and support the growth of enterprises by integrating community values and social change with creative action and entrepreneurial approaches.</p>
			</div>
			<div class="footer-ribbon">
				<span>Get in Touch</span>
			</div>
			<div class="col-md-3">
				<% if data.site.defaults.shownewslettersignup  %>
				<div class="newsletter">
					<h4>Newsletter</h4>
					<p>Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.</p>

					<!-- Begin MailChimp Signup Form -->
						<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
						<style type="text/css">
							#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
							/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
							   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
						</style>
						<div id="mc_embed_signup">
						<form action="//comwent.us12.list-manage.com/subscribe/post?u=bd1860ad4325675954cfb2597&amp;id=53251a43ed" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						    <div id="mc_embed_signup_scroll">
						<div class="mc-field-group">
							<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
						</label>
							<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
						</div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bd1860ad4325675954cfb2597_53251a43ed" tabindex="-1" value=""></div>
						    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="background:#9f0603;"></div>
						    </div>
						</form>
					</div>

					<!--End mc_embed_signup-->
				<% end %>
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="contact-details">
					<% if data.site.defaults.businessaddress || data.site.defaults.phone || data.site.defaults.businessemail %>
					<h4>Contact Us</h4>
					<ul class="contact">
						<% if data.site.defaults.businessaddress %>
						<li><p><i class="fa fa-map-marker"></i> <strong>Address:</strong> <%= data.site.defaults.businessaddress %></p></li>
						<% end %>
						<% if data.site.defaults.businessphone %>
						<li><p><i class="fa fa-phone"></i> <strong>Phone:</strong> <%= data.site.defaults.businessphone %></p></li>
						<% end %>
						<% if data.site.defaults.businessemail %>
						<li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:<%= data.site.defaults.businessemail %>"><%= data.site.defaults.businessemail %></a></p></li>
						<% end %>
					</ul>
					<% end %>
				</div>
			</div>
			<div class="col-md-3">
				<% if data.site.defaults.showlatesttweets  %>
				<h4>Latest Tweets</h4>
				<div id="tweet" class="twitter" data-plugin-tweets data-plugin-options='{"username": "", "count": 2}'>
					<p>Please wait...</p>
				</div>
				<% end %>
			</div>
			<div class="col-md-2">
				<% if data.site.defaults.facebookurl || data.site.defaults.twitterurl || data.site.defaults.linkedinurl %>
				<h4>Follow Us</h4>
				<ul class="social-icons">
					<% if data.site.defaults.facebookurl %>
						<li class="social-icons-facebook"><a href="<%= data.site.defaults.facebookurl %>" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
					<% end %>
					<% if data.site.defaults.twitterurl %>
						<li class="social-icons-twitter"><a href="<%= data.site.defaults.twitterurl %>" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
					<% end %>
					<% if data.site.defaults.linkedinurl %>
						<li class="social-icons-linkedin"><a href="<%= data.site.defaults.linkedinurl %>" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
					<%end%>
				</ul>
				<% end %>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<a href="/" class="logo">
						<img alt="<%= data.site.defaults.companyname %>" class="img-responsive" src="images/logos/comwent_whitelogo.png">
					</a>
				</div>
				<div class="col-md-6">
					<p>© Copyright <%= Time.now.year %>. All Rights Reserved.</p>
				</div>
				<div class="col-md-4">
					<nav id="sub-menu">
						<ul>
							<li><a href="page-faq.html">FAQ's</a></li>
							<li><a href="sitemap.html">Sitemap</a></li>
							<li><a href="contact-us.html">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</footer>