---
featureboxstyle: feature-box-style-2
---
<div role="main" class="main">

	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li><a href="/">Home</a></li>
						<li class="active">About Us</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1>About Us</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<%= partial "partials/features/word-rotator" %>
		<%= partial "partials/features/our-features" %>
	</div>

	<%= partial "partials/features/counters" %>
	<%= partial "partials/features/video-section" %>
	<%= partial "partials/features/who-we-are" %>
	<%= partial "partials/features/team" %>
	<%= partial "partials/features/call-to-action" %>
</div>

