---
title: false
---

<div class="body">
	<div role="main" class="main">
		<%= partial "partials/features/slider" %>
		<%= partial "partials/features/call-to-action-2" %>
		<div class="container">

			<%= partial "partials/features/word-rotator" %>
			<%= partial "partials/features/counters-2" %>
		</div>
		<section class="section section-default section-with-mockup mb-none">
			<%= partial "partials/features/features-4-with-image" %>
		</section>
		<%= partial "partials/features/call-to-action-3" %>
		<%= partial "partials/features/project-filterable" %>
		<%= partial "partials/features/ad-image" %>
		<%= partial "partials/features/info-box" %>
		<%= partial "partials/features/features-feature-box" %>
		<%= partial "partials/features/call-to-action-3" %>
		<%= partial "partials/features/feature-boxes" %>
		<div class="container">
			<%= partial "partials/features/ad-text" %>
			<%= partial "partials/features/ad-image-2" %>
		</div>
		<%= partial "partials/features/call-to-action-4" %>
		<%= partial "partials/features/feature-highlight-image-left" %>
		<%= partial "partials/features/feature-highlight-image-right" %>
		<%= partial "partials/features/features-short" %>
		<%= partial "partials/features/testimonials-parallax" %>
	</div>
</div>