---
title: Common Wealth Enterprises - Where Uncommon Results are Common
description: The business consultants of Common Wealth Enterprise help businesses grow revenues, shrink costs, and explode margins. At Common Wealth Enterprises, uncommon results are common.
keywords: Lansing MI business consultants, common wealth enterprises
---

<div class="body">
	<div role="main" class="main" id="home">
		<%= partial "partials/features/slider" %>
		
		<%= partial "partials/features/feature-highlight-image-left"  %>
		<%= partial "partials/features/feature-highlight-image-right" %>
		<%= partial "partials/features/feature-highlight-image-left2" %>
		<!-- this is where the testimonials will go -->
		<%= partial "partials/features/team" %>
		<%= partial "partials/features/our-features" %>
		<%= partial "partials/features/project" %>
		
		<%= partial "partials/features/parallax-2" %>
		<%= partial "partials/features/googlemaps" %>
		<%= partial "partials/features/contact-us" %>
	</div>
</div>