<header id="header" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 57, "stickySetTop": "-57px", "stickyChangeLogo": true}'>
	<div class="header-body">
		<div class="header-container container">
			<div class="header-row">
				<div class="header-column ">
					<div class="header-logo">
						<a href="index.html">
							<% if data.site.defaults.logourl %>							
							<img alt="<%= data.site.defaults.companyname %>" data-sticky-width="150" data-sticky-height="" data-sticky-top="33" src="<%= data.site.defaults.logourl %>" class="logo">
							<% else %>
								<span style="height:32px; display:inline-block; margin-bottom: 24px; margin-right: 24px; margin-top: 24px;" data-sticky-width="82" data-sticky-height="40" data-sticky-top="33"> <%= data.site.defaults.companyname %></span>
							<% end %>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="header-container container header-nav header-nav-push-top">
			<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
				<i class="fa fa-bars"></i>
			</button>
			<ul class="header-social-icons social-icons hidden-xs">
				<% if data.site.defaults.facebookurl %>
					<li class="social-icons-facebook"><a href="<%= data.site.defaults.facebookurl %>" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
				<% end %>
				<% if data.site.defaults.twitterurl %>
					<li class="social-icons-twitter"><a href="<%= data.site.defaults.twitterurl %>" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
				<% end %>
				<% if data.site.defaults.linkedinurl %>
					<li class="social-icons-linkedin"><a href="<%= data.site.defaults.linkedinurl %>" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
				<%end%>
			</ul>
			<div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
				<%= partial "partials/menus/menu-default" %>
			</div>
		</div>
	</div>
</header>